<Alloy>
	<Window navTintColor="#CE1D1C" id="win" title="Settings" navBarHidden="false">
		<ActionBar platform="android" displayHomeAsUp="true" onHomeIconItemSelected="closeWindow" />
		    <ScrollView class="vert hfill wfill" contentWidth="Ti.UI.FILL" contentHeight="Ti.UI.SIZE"> 
				<View class=" wfill horz" height="95"  >
						<ImageView borderRadius="10" width="80" height="80" left="10" top="10" image="/images/appicon.png" />
						<View class="vert wfill hsize" left="10" top="10">
							<Label class=" themeColor wfill h4 bold left-align">PLUX for Doctor</Label>
							<Label class=" wfill h5 left-align">Version 1.0.0</Label>
							<Label class=" wfill h5 left-align">Copyright ©2016. All Rights Reserved.</Label>
						</View>  
				</View> 
				
				<View id="tvrName" top="10"  height="Ti.UI.SIZE"   backgroundColor="#ffffff" > 
					<Label text="My Profile" top="15" bottom="15"  width="35%" left="5" class="h5 padding-left themeColor"  /> 
					 
					<Label id="lblPName" text="" class="wsize font_dark_grey h5 right-align" right="20"    /> 
					<ImageView  class="wsize" right="5" image="/images/btn-forward.png" width="15" />  
				</View> 
				
				<View id="tvrPassword" top="10"  height="Ti.UI.SIZE" backgroundColor="#ffffff" > 
					<Label text="Change Password" top="15" bottom="15" left="5" class="wfill h5 padding-left themeColor"  />  
					<ImageView  class="wsize" right="5" image="/images/btn-forward.png" width="15" /> 
				</View> 
				
				<View id="tvrClinics" top="10"  height="Ti.UI.SIZE" backgroundColor="#ffffff" >  
					<Label  text="My Clinic / Panel" top="15" bottom="15" left="5" class="wfill  h5 padding-left themeColor"  />
					<Label  text="Add Panel" top="15" bottom="15" right="5" id="addPanel" class=" h5   themeColor"  />  
				 </View> 
				<View class="wfill hsize vert" id='myClinic'></View>
			</ScrollView> 
	</Window>
</Alloy>